apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ .Var "service" }}
spec:
  tls:
  - secretName: registry-tls-secret
  rules:
  - host: registry.{{ .Env "CLUSTER_NAME" }}
    http:
      paths:
      - path: /
        backend:
          serviceName: kube-registry
          servicePort: 5000