apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: {{ .Var "service-name" }}
spec:
  replicas: {{ .Var "replicas" "2" }}
  template:
    metadata:
      labels:
        app: {{ .Var "app-name" }}
    spec:
      containers:
      - name: {{ .Var "container-name" }}
        image: {{ .Var "container-image" }}
		{{ if .HasVar "container-port" }}
        ports:
        - containerPort: {{ .Var "container-port" }} 
		{{ end }}